bert-score==0.3.13
evaluate==0.4.2
rouge_score==0.1.2
RAGatouille==0.0.8.post2
einops==0.8.0
flash-attn==2.6.3
outlines==0.0.46
sentence-transformers==2.7.0
sentencepiece==0.1.99
absl-py==1.4.0
chromadb==0.5.5
openai==1.37.1
tqdm==4.66.4